:root{
    --dark-blue:#405D72;
    --blue:#758694;
    --pink:#F7E7DC;
    --light-pink:#FFF8F3;



}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    position:relative;
    width: 100%;
    
}

.header{
    position:fixed;
    top:0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #0b1322;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 1000;
    
}
.logo{
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
    color: white;
}

.search-notification-profile{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    padding:0 40px;
}

.search{
   
    width: 400px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-between;
    background-color: aliceblue;
}
.search input{
    outline: none;
    border: none;
    width: 85%;
    text-indent: 15px;
    height: 20px;
    border-radius: 50px;
    background-color: aliceblue;
}

.search button{
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}

.search button i{
    color: var(--dark-blue);
   

}

.notification-profile{
    display:flex;
    align-items: center;
}

.picon{
    margin-left: 20px;
    padding: 5px;
    border-radius: 45%;
    
}
.picon button{
    padding: 5px;
    border-radius: 8px;
    border: 1px white solid;
    outline: none;
    font-size: medium;
    font-weight: bold;
    width: 50px;
}
.picon button:hover{
    background: linear-gradient(to right top, #151638, #201a38, #291e37, #302338, #352838);
    color: white;
}

.bell{
    color:white;
    background-color: transparent;
}

.profile{
   
    color:white;
    background-color: transparent;
}

.main{
    position: relative;
    width: 100%;
    /*top:60px;*/
    top: 41px;
    /*min-height: calc(100vh - 60px);*/
    background:gray;
    min-height: 955px;
}

/*sidebar*/
.sidebar{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
   
    width: 300px;
    background-color:#0b1322;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:2px solid white;
    

}
.sidebar.active{
    width:103px ;
    overflow: hidden;
}
.sidebar.active .item{
    display:none;
}
.sidebar.active .arrow{
    display:none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    
}
.sidebar ul ul{
    position: absolute;
    left:298px;
    width: 200px;
    top: 0;
    height: 100%;
    background-image: linear-gradient(to right top, #151638, #201a38, #291e37, #302338, #352838);
    z-index: 1000;
    display: none;
}

.submenu.show{
    display: block;
    z-index: 1;
}

.sidebar-top-item a,
.sidebar-bottom-item a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: var(--pink);
    padding: 10px;
    border-radius: 10px;

}

.sidebar-top-item a:hover,
.sidebar-bottom-item a:hover{
    background-image: linear-gradient(to right, #a224b6, #7033a4, #43348a, #202e6c, #0b244a);
}
#active{
    background-image: linear-gradient(to right, #a224b6, #7033a4, #43348a, #202e6c, #0b244a);
}
.icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:20px;
    font-size: 1.3rem;
}
.arrow{
   position: absolute;
   right: 30px;
   margin-top: 20px;
   transform: translateY(-50%);
  
   

}

.sidebar-bottom-item li:last-child a{
    margin-bottom: 0;
}



/*main contents*/

.maincontent{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    background-color:var(--light-pink);
}

.maincontent.active{
    width: calc(100% - 103px);
}

.maincontent{
    padding: 24px 20px 20px 20px;
}

/*main content starts here*/

.container{
   
    min-height: 800px;
    /*border: 2px solid black;
    display: flex;
    flex-wrap: wrap;*/
    
}

.graphandstock{
    display: flex;
    /*border: 2px solid black;*/
    height: 300px;
    width: 100%;
    /*justify-content: space-between;*/
    gap: 5px;
   
   
}
.graphandstock .graphbox{
    background-color: rgb(152, 202, 202);
    width: 500px;
    flex-grow: 1;
    border-radius: 20px;
    
}

.graphandstock .stockalertbox{
    background-color: rgb(174, 198, 198);
    width: 400px;
    flex-grow: 1;
    border-radius: 20px;
   
}

.infodata{
    display: flex;
    height: 200px;
    background-color: rgb(203, 221, 236);
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recenttrans{
    display: flex;
    height: 300px;
    background-color: rgb(194, 192, 226);
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
}

/* =========================================for purchase ====================================================*/

.filterandcreate {
    display: flex;
    /*float: right;*/
    justify-content: flex-end;
    gap:20px;
    width: 100%;

    
}
.filterandcreate button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;;
    

}

.filterandcreate button a{
    padding: 10px 20px;
    color: black;
}
.filterandcreate button:hover{
    background-color: #0b1322;
    
    
}
.filterandcreate button a:hover{
    color: white;
}
.purchasetable{
    padding: 10px 0 10px 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: none
    
}
th{
    font-size: 25px;
}
th,td{
    text-align: center;
    border-bottom:  2px black solid;
    padding: 5px;
}

/*=================================================create purchase============================================*/
.dateandsup{
    display: flex;
    gap: 100px;
    padding: 30px 0 30px 0;
   

}

.decrease, .increase{
    width: 15px;
    font-size: medium;
    border: none;
    background-color: transparent;
}
#quantity{
    width: 50px;
}



/*pop up card style*/
.filter-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

.filter-popup h3 {
    margin: 0 0 15px 0;
}

.filter-popup label {
    display: block;
    margin: 10px 0 5px 0;
}

.filter-popup input, .filter-popup select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.filter-popup button {
    margin-right: 10px;
}
/*end of pop up card*/